@media screen and (min-width: 769px) and (max-width: 1279px){
    .flcards{
        width: 720px;
        flex-wrap: wrap;
        gap: 24px;
    }
    .cards{
        width: 348px;
        margin-bottom: 16px;
    }
}